#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa)
}
/*Animatsioonide tegemiseks kasutatakse @keyframes*/
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* cssi omadus mis võimaldab rakendada stiile vastavalt seadme ekraani suurusele
 */

@media (prefers-reduced-motion: no-preference) {
  /*//miks ma panin sulgudesse nr 2?
//Sulgudesse nr 2 panin sellepärast, et see on CSS-i süntaks, mis võimaldab
//teil määratleda, millised stiilid rakendatakse, kui kasutaja eelistab
//vähendatud liikumist. See tähendab, et animatsioonid ja üleminekud
// rakendatakse ainult siis, kui kasutaja ei ole seadistanud oma süsteemi
//vähendatud liikumise eelistuseks.*/
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
.read-the-docs {
  color: #888
}